node_modules/
.next/
dist/
build/
*.log
/.vs/JRSunrise/config/applicationhost.config
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/CodeChunks.db
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
/.vs/JRSunrise/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
/.vs/JRSunrise/FileContentIndex/10b74465-a4b1-46b2-8855-9b7d1df64ad4.vsidx
/.vs/JRSunrise/FileContentIndex/1afc0ce4-2e3c-4322-b264-6c54e3039ef4.vsidx
/.vs/JRSunrise/FileContentIndex/70c04696-8655-4893-8020-fc090a1b4255.vsidx
/.vs/JRSunrise/v17/.wsuo
/.vs/JRSunrise/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/JRSunrise/FileContentIndex/1c8e262d-d35c-4f33-8174-7cd481f9790d.vsidx
/.vs/JRSunrise/FileContentIndex/3583d474-beae-44de-9a51-d515bb614ac1.vsidx
